/* 底部栏浮动 */
@media (max-width: 630px) {
    #status {
        border: none;
        height: 28px;
        margin-top: -6px;
        transform: none !important;
    }
}
@media (min-width: 630px) {
    #status {
        position: fixed;
        right: 0;
        backface-visibility: hidden;
        transition: all .1s cubic-bezier(0, 0, .2, 1) 0ms;
        bottom: 15px;
        border-radius: var(--b3-border-radius);
        height: 27px !important;
        overflow: hidden;
        z-index: 3;
        border: 0.5px solid var(--b3-theme-surface-lighter);
        background-color: var(--b3-theme-background);
        display: flex;
        align-items: center;
        box-shadow: var(--b3-light-shadow);
        user-select: none;
    }
    .dock#dockBottom:not(.fn__none) + #status {
        bottom: 52px;
    }
    #barDock {
        position: relative;
        order: 1;
    }
    #statusHelp {
        position: relative;
    }
}
.status .toolbar__item:hover {
    background-color: var(--QYL-hover) !important;
}
/* 整体优化 */
.layout__empty .b3-list-item:hover {
    color: var(--b3-theme-primary);
    & .b3-list-item__meta {
        color: var(--b3-theme-primary);
    }
}
.toolbar {
    border: none;
}
body:not(.body--mobile,.body--window).fn__flex-column {
    background-color: var(--b3-theme-surface);
}
body:not(.body--mobile,.body--window) #layouts {
    border: none;
    background-color: var(--b3-theme-surface);
    padding: 6px 0 6px 0;
    min-height: 50%;
}
.dock#dockLeft {
    border: none;
}
.dock#dockRight {
    border: none;
}
#layouts .fn__flex.layout-tab-bar {  
    border-top-left-radius: var(--b3-border-radius);
}
#layouts .layout-tab-bar.layout-tab-bar--readonly.fn__flex-1 {
    border-top-right-radius: var(--b3-border-radius);
}
#layouts .layout__center .layout-tab-container {
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius) !important;
}   
#layouts .layout__center .layout-tab-container:has(.layout__empty) {
    border-radius: var(--b3-border-radius) !important;
}
#layouts .fn__flex-column:not(.layout__center) .fn__flex .layout-tab-container {
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-background);
}
.file-tree:is(.sy__graph, .sy__globalGraph) canvas {
    background-color: var(--b3-theme-background);
}
.protyle-preview__action {
    background-color: var(--b3-theme-background);
}
.graph__panel {
    border-radius: var(--b3-border-radius);
    border: none;
    box-shadow: var(--b3-light-shadow);
}
#layouts .file-tree .block__icons :is(.block__logo, .block__logoicon, .block__icon) {
    color: var(--b3-theme-primary);
    font-weight: bold;
}
.file-tree.sy__outline .b3-list-item[title] .b3-list-item__text {
    color: var(--b3-theme-primary);
}
#layouts .layout__resize.layout__resize--lr {
    margin: 0;
    &:hover::after {
        transition: none;
    }
}
#layouts .layout__resize.layout__resize--lr::after {
    visibility: hidden;
    width: 8px;
    height: 100%;
    border-radius: var(--b3-border-radius-q);
}
#layouts .layout__resize.layout__resize--lr:hover::after {
    visibility: visible;
}
#layouts .layout__resize {
    margin: 0;
    &:hover::after {
        transition: none;
    }
}
#layouts .layout__resize::after {
    visibility: hidden;
    height: 8px;
    width: 100%;
    border-radius: var(--b3-border-radius-q);
    transform: translateY(-3px);
}
#layouts .layout__resize:hover::after {
    visibility: visible;
}
#layouts .layout--float {
    border: 1.5px solid var(--b3-theme-primary-lighter) !important;
    box-shadow: var(--b3-dialog-shadow) !important;
    background-color: var(--b3-theme-background);
    padding: 0;
    border-radius: var(--b3-border-radius);
}
.file-tree.sy__graph {
    background-color: var(--b3-theme-background);
}
#dockLeft.fn__none + #layouts {
    padding-left: 6px;
    padding-right: 6px;
}
#layouts .block__icons {
    border: none;
}
.dock#dockBottom {
    border: none;
      &:not(.fn__none) {
        margin-top: -6px;
      }
}
.dock__item {
    color: var(--b3-toolbar-color);
}
#layouts .layout__dockb .fn__flex-1.fn__flex .layout-tab-container {
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-background);
}
.block__icons--menu {
    background-color: var(--b3-theme-background);
}
.layout__dockb[style="height: 0px;"] {
    opacity: 0;
}
.layout__center .layout-tab-container:has( > :is(.sy__outline, .sy__backlink)) {
    background-color: var(--b3-theme-background);
}
/* PDF界面 */
.pdf__outer #mainContainer {
    background-color: var(--b3-theme-background);
}
.pdf__outer #sidebarContainer {
    background-color: var(--b3-theme-background);
}
/* 文档树 */
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    content: "";
    width: 0.25em;
    height: 0.25em;
    border-radius: 99px;
    background-color: var(--QYL-filetree-arrow);
    position: absolute;
    visibility: visible;
    margin-left: 3px;
}
.b3-list-item:hover.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    background-color: var(--b3-theme-primary);
}
.file-tree .b3-list-item .b3-list-item__arrow {
    color: var(--QYL-filetree-arrow);
}
/* 文档树缩进线修复 */
.file-tree>.fn__flex-1>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 22px !important
}
.file-tree>.fn__flex-1>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 40px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 58px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 76px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 94px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 112px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 130px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {/* 第八层 */
    padding-left: unset !important;
    padding-inline-start: 148px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 166px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 184px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 202px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 220px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 238px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 256px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 274px !important
}