/* 表情面板 */
.emojis__item {
    font-size: 32px;
    padding: 0px;
    height: 40px;
    width: 40px;
}
.emojis__type {
    font-size: 24px;
    margin-top: 10px;
    border-radius: var(--b3-border-radius);
}
.emojis__title {
    color: var(--b3-theme-primary);
    font-weight: bold;
}
.b3-dialog__container:has(.emojis) {
    background-color: var(--b3-theme-background);
}
/* 圆形关闭键 */
.b3-dialog__close {
    display: none;
}
.b3-menu__action.b3-menu__action--close:hover {
    color: var(--b3-theme-primary);
    transition: var(--b3-color-transition);
}
/* 编辑器工具栏 */
.protyle-toolbar {
    border-radius: var(--b3-border-radius-q);
    border: 0.5px solid var(--b3-theme-surface-lighter);
}
.protyle-toolbar__item {
    margin: 6px 3px;
    border-radius: var(--b3-border-radius) !important;
}
.protyle-toolbar__item svg {
    width: 16px;
    height: 16px;
}
/* 窗口优化 */
.b3-dialog__header {
    font-weight: bold;
    text-align: center;
    border-bottom: none;
}
.b3-label {
    border-bottom: none;
}
.b3-dialog__action {
    border-top: none;
}
/* 菜单 */
.b3-menu, .b3-menu__item, .b3-menu__submenu {
    background-color: var(--b3-theme-background);
}
.b3-menu__item {
    line-height: 26px;
}
/* 标记 */
.b3-list mark {
    border-radius: 6px;
    padding: 2px 4px;
    background-color: var(--b3-theme-primary);
    color: var(--QYL-white);
}
.protyle-wysiwyg [data-node-id] .def--mark {
    border-radius: 6px;
    padding: 2px 4px;
    background-color: var(--QYL-ref);
    color: var(--QYL-white) !important;
}
.protyle-wysiwyg [data-node-id] .def--mark:hover {
    border-radius: 6px !important;
    padding: 2px 4px !important;
    background-color: var(--QYL-ref) !important;
    color: var(--QYL-white) !important;
    border: none !important;
}
/* 外观菜单 */
.protyle-util .protyle-font .color__square {
    font-size: 20px;
    font-weight: bold;
}
.protyle-util .protyle-font div:has(+ .fn__hr--small), .protyle-util .protyle-font .fn__hr + .fn__flex {
    font-weight: bold;
    color: var(--b3-theme-primary);
}
/* 自定义属性 */
[class="custom-attr"] span.fn__flex-1:has(+[data-action="bookmark"]) {
    color: var(--b3-theme-primary);
    font-weight: bold;
}
[data-type="custom"] span.fn__flex-1:has(+[data-action="remove"]) {
    color: var(--b3-theme-primary);
    font-weight: bold;
}
/* 同步菜单 */
[data-key="dialog-syncchoosedirection"] .b3-dialog__container {
    background-color: var(--b3-theme-background);
}