        /* 动画效果 */
/* 弹出动画 */
@keyframes QYLpopout {
    0%,10% {
        opacity: 0;
        transform: none
    }

    10% {
        transform: scale(0.9)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
@keyframes QYLpopout2 {
    0%,10% {
        opacity: 1;
        transform: none
    }

    10% {
        transform: scale(0.9)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
@keyframes QYLpopout3 {
    0%,10% {
        opacity: 1;
        transform: none
    }

    10% {
        transform: scale(0.85)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
/* 右弹动画 */
@keyframes QYLbounceRight {
    00% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(10%);
    }
    70% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes QYLbounceRight2 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
/* 页签动画 */
.layout__center :not(.av__views) > .layout-tab-bar .item {
    animation: QYLbounceRight 0.5s;
}
/* 斜杠菜单动画 */
.protyle-hint.hint--menu .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 编辑器工具栏动画 */
.protyle-toolbar button, .protyle-hint .b3-list-item{
    animation: QYLbounceRight2 0.15s;
}
/* 任务列表动画 */
.protyle-wysiwyg .li.protyle-task--done > .protyle-action--task::before, .av__cell-check::before {
    animation: QYLpopout 0.2s forwards;
}
/* 侧栏图标动画 */
.block__logo {
    animation: QYLbounceRight 0.5s;
}
/* 集市卡片动画 */
.config-bazaar__panel .b3-card {
    animation: QYLbounceRight2 0.2s;
}
.config-bazaar__panel .b3-card:hover {
    transform: scale(1.02);
}
.config__tab-wrap > div {
    animation: QYLbounceRight2 0.2s;
}
/* 自定义属性面板动画 */
.b3-dialog__body .custom-attr {
    animation: QYLbounceRight2 0.2s;
}
/* 搜索面板动画 */
:is(#searchList, #searchAssetList, #searchUnRefList) .b3-list-item {
    animation: QYLbounceRight2 0.2s;
}
/* 弹出文档动画 */
body > div.block__popover.block__popover--open {
    animation: QYLpopout 0.2s;
}
/* 退出聚焦按钮动画 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    animation: QYLbounceRight 0.5s;
}
/* 文档标题动画 */
.protyle-title__input {
    animation: QYLbounceRight2 0.2s;
    color: var(--b3-theme-primary);
}
/* 资源图片预览动画 */
#preview > * {
    animation: QYLpopout2 0.2s;
}
#preview > * {
    border-radius: var(--b3-border-radius);
}
/* 菜单内动画 */
.b3-menu .b3-menu__item {
    animation: QYLbounceRight2 0.1s;
}
#commonMenu .b3-list-item {
    animation: QYLbounceRight2 0.1s;
}
/* 闪卡动画 */
[data-key="dialog-viewcards"] .fn__flex-1.b3-list div[data-type="card-item"] {
    animation: QYLbounceRight2 0.15s;
}
/* 同步面板动画 */
[data-key="dialog-syncchoosedirection"] .b3-dialog__content .fn__flex.b3-label {
    animation: QYLbounceRight2 0.15s;
}
/* 命令面板动画 */
[data-key="dialog-commandpanel"] .search__list .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 数据历史动画 */
[data-key="dialog-history"] :is(.history__side, [data-type="notebook"], [data-type="repo"] ) .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 最近的文档动画 */
[data-key="dialog-recentdocs"] .b3-list.b3-list--background .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 闪卡内文档树动画 */
[data-key="dialog-movepathto"] #foldTree li.b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 代码片段面板动画 */
[data-key="dialog-snippets"] :is([data-type="js"], [data-type="css"]) .fn__flex input[type="text"] {
    animation: QYLbounceRight2 0.1s;
}
[data-key="dialog-snippets"] :is([data-type="js"], [data-type="css"]) .fn__block.b3-text-field {
    animation: QYLbounceRight2 0.1s;
}
/* 页签悬浮闪光 */
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not([data-type="openai"]):not([data-type="remove"]):not([data-type="missing"]):not([data-type="css"]):not([data-type="js"]):not([data-type="attr"]):not([data-type="custom"]):not([data-type="doc"], [data-type="notebook"], [data-type="repo"]) {
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    &:hover {
        &:before {
          transform: skewX(-45deg) translateX(22em);
          transition: 0.5s;
        }
    }
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):is([data-type="openai"], [data-type="remove"], [data-type="missing"], [data-type="css"], [data-type="js"], [data-type="attr"], [data-type="custom"], [data-type="doc"], [data-type="notebook"], [data-type="repo"]) {
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    &:hover {
        &:before {
          transform: skewX(-45deg) translateX(200em);
          transition: 1s;
        }
    }
}
:is(.b3-button--cancel, .b3-button, .b3-button--text, .b3-button--remove, .config-bazaar__title button, div[data-key=dialog-globalsearch] button:is([data-type="saveCriterion"], [data-type="removeCriterion"]),
.b3-button--big, .fn__flex.config-account a[href="https://ld246.com/sponsor"], #barWorkspace, .b3-button--small, #documentPropertiesClose,
.b3-button--outline):not([data-type="-2"], [data-type="-3"], [data-type="1"], [data-type="2"], [data-type="3"] ,[data-type="4"])::before {
        display: block !important;
}