/* 垂直页签 */
#layouts .layout__center .QYLwndthe1 {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#layouts .layout__center .QYLwndthe1 > .fn__flex {
    flex: 0 0 auto;
    min-width: 125px;
    max-width: 125px;
    margin-right: 6px;
    flex-direction: column;
}
.QYLwndthe1 > .fn__flex .layout-tab-bar:not(.layout-tab-bar--readonly) {
    flex: 1;
    flex-direction: column;
    border-radius: var(--b3-border-radius) var(--b3-border-radius) 0 0;
}
#layouts .layout__center .QYLwndthe1 > .fn__flex .layout-tab-bar:not(.layout-tab-bar--readonly) .item {
    width: 90%;
}
#layouts .layout__center .QYLwndthe1 > .fn__flex > .layout-tab-bar--readonly {
    flex: none;
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius) !important;
}
#layouts .layout__center .QYLwndthe1 > .layout-tab-container {
    border-radius: var(--b3-border-radius) !important;
}
#layouts .QYLwndthe1 .layout-tab-bar li[data-type="tab-header"].item:not(.item--pin, .item--full) :is(.item__icon,.item__graphic, .item__text) {
    transform: translateX(0px)  !important;
    transition: var(--b3-transition);
}
#layouts .QYLwndthe1 .layout-tab-bar li[data-type="tab-header"].item:not(.item--pin, .item--full):hover :is(.item__icon,.item__graphic, .item__text) {
    transform: translateX(0px);
    transition: var(--b3-transition);
}
#layouts .layout__center .QYLwndthe1 .layout-tab-bar .item__close {
    margin-left: auto;
}
#layouts .layout__center .QYLwndthe1 > .fn__flex .layout-tab-bar:not(.layout-tab-bar--readonly) .item__close {
margin-left: auto;
display: none;
}
#layouts .layout__center .QYLwndthe1 > .fn__flex .layout-tab-bar:not(.layout-tab-bar--readonly) .item:hover .item__close {
display: flex;
}
/* 垂直页签钉住 */
#layouts .layout__center .QYLwndthe1 .layout-tab-bar .item--pin .item__text  {
    display: unset !important;
}
#layouts .layout__center .QYLwndthe1 .layout-tab-bar .item--pin .item__graphic, .layout-tab-bar .item--pin .item__icon {
    padding: 4px 0px 4px 8px !important;
}
#layouts .layout__center .QYLwndthe1    .layout-tab-bar .item--pin+.item:not(.item--pin,.item--readonly) {
    margin-top: 20px;
    margin-left : 0 !important;
}