/* 侧栏选中但不聚焦背景色 */
.dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
    background-color: var(--b3-theme-primary);
    color: var(--QYL-white);
}
/* 修复毛玻璃开启后菜单无悬停色 */
.b3-menu__item--current:not(.b3-menu__item--readonly) {
    background-color: var(--b3-list-hover) !important;
}
/* 文档下拉 */
.file-tree .b3-list-item .b3-list-item__toggle:hover {
    background-color: rgba(255, 0, 0, 0) !important;
     & .b3-list-item__arrow {
        color: var(--b3-theme-primary);
        transition: var(--b3-transition);
     }
}
/* 文档定位 */
.layout__tab--active .b3-list--background .b3-list-item--focus {
    background-color: var(--b3-list-hover);
      & .b3-list-item__text {
        font-weight: bold;
        color: var(--b3-theme-primary);
      }
}
.file-tree .b3-list--background .b3-list-item--focus {
    background-color: var(--b3-list-hover);
    & .b3-list-item__text {
      font-weight: bold;
      color: var(--b3-theme-primary);
    }
}