/* 引述块 */
.protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    mask-image: url('../img/引用.svg');
    -webkit-mask-image: url('../img/引用.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: var(--QYL-blockquote-svg);
    background-size: 20px 20px;
}
.protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color: var(--QYL-blockquote-background);
    color: var(--QYL-blockquote);
    padding-top: 22px;
}
:is(.protyle-wysiwyg blockquote, .protyle-wysiwyg .bq) :is(.protyle-wysiwyg blockquote, .protyle-wysiwyg .bq) {
    box-shadow: var(--QYL-shadow-highlight);
}
/* 分割线 */
.protyle-wysiwyg [data-node-id].hr>div::after {
    height: 3px;
    background-color: var(--b3-theme-primary);
}
/* 块标 */
.protyle-gutters { 
    transition: 0.15s; 
}
.protyle-gutters button:hover svg {
    color: var(--b3-theme-primary); 
    transition: var(--b3-color-transition);
}
.protyle-title.protyle-wysiwyg--attr span.protyle-title__icon.ariaLabel:hover svg {
    color: var(--b3-theme-primary); 
    transition: var(--b3-color-transition);
}
/* 表格 */
.b3-typography table td, .b3-typography table th, .protyle-wysiwyg table td, .protyle-wysiwyg table th, .b3-typography table tr:nth-child(even) td, .protyle-wysiwyg table tr:nth-child(even) td {
    border: 1px solid var(--b3-theme-on-background);
    background-color: rgba(255, 0, 0, 0);
}
/* 行级代码 */
:is(.fn__code, .b3-typography code, .b3-typography span[data-type~=code], .protyle-wysiwyg code, .protyle-wysiwyg span[data-type~=code]) {
    color: var(--b3-theme-primary);
}
/* 标签 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag]{
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-white);
    background-color: var(--b3-theme-primary);
    transition: var(--b3-transition);
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-success);
        opacity: 1 !important;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]::before, .protyle-wysiwyg [data-node-id] span[data-type~=tag]:hover::before {
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    top: -0.08em;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: 0.4em;
    position: relative;
    vertical-align: middle;
}
/* 键盘元素 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd] {
    border-radius: 6px;
    background-color: var(--b3-theme-background);
    border: solid 1px var(--b3-theme-surface-lighter);
    box-shadow: inset 0 -2px 0 var(--b3-theme-surface-lighter);
    position: relative;
    bottom: 1px;
}
.fn__kbd {
    border-radius: 6px;
    background-color: var(--b3-theme-background);
    border: solid 1px var(--b3-theme-surface-lighter);
    box-shadow: inset 0 -2px 0 var(--b3-theme-surface-lighter);
    position: relative;
    bottom: -1px;
}
/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    box-shadow: var(--b3-theme-primary-lighter) 0px 1px 1px, var(--b3-theme-primary-lightest) 0px 0px 1px 1px;
    border: none;
}
/* 行级备注 */
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: var(--QYL-hover);
    border-bottom: 2px solid var(--b3-theme-primary);
    padding-bottom: 1.5px;
}
.tooltip.tooltip--memo {
    font-size: 14px;
    line-height: 20px;
    background-color: var(--b3-theme-background);
    color: var(--b3-theme-on-background);
    border: 0.5px solid var(--b3-theme-surface-lighter);
    box-shadow: var(--b3-light-shadow);
}
/* 行内文字背景 */
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-font-background"] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-error-background)"] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-warning-background)"] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-info-background)"] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-success-background)"] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
}
/* 列表、任务列表 */
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover {
    color: var(--b3-theme-primary);
}
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover::after, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover::after, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover::after {
    background-color: var(--b3-theme-primary-lightest);
}
.av__checkbox:hover, .av__firstcol svg:hover {
    color: var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action::after {
    width: 22px;
    height: 22px;
    border-radius: 99px;
    top: 40%;
    left: 42%;
    background-color: var(--b3-theme-primary-lighter);
    transition: var(--b3-background-transition);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:hover::after {
    background-color: var(--b3-theme-primary-lighter);
    transition: var(--b3-background-transition);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: var(--b3-theme-primary);
    transition: var(--b3-color-transition);
}
.protyle-wysiwyg [data-node-id].li::before {
    border-left: 1.5px solid var(--b3-theme-background-light);
    transition: var(--b3-transition);
}
.protyle-wysiwyg [data-node-id].li:hover::before {
    border-left: 1.5px solid var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id].li:hover>.protyle-action {
    color: var(--b3-theme-primary);
}
.li[data-subtype=t]>.protyle-action:hover::after {
    background-color: rgba(255, 0, 0, 0) !important;
}
.protyle-wysiwyg [data-node-id].li[fold="1"][data-subtype=t]>.protyle-action::after {
    background-color: rgba(255, 0, 0, 0) !important;
}
.protyle-wysiwyg [data-node-id].li[fold="1"][data-subtype=t]>.protyle-action {
    &::before {
        background-color: var(--b3-theme-on-background) !important;
    }
    & + [data-node-id] {
        color: var(--b3-theme-on-background) !important;
    }
}
/* 标记 */
span[data-type~=mark] {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),var(--b3-protyle-inline-mark-background), var(--b3-protyle-inline-mark-background)) !important;
}
/* 任务列表复选框样式 */
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task svg {
    color: transparent;
}
div.protyle-action.protyle-action--task svg {
    color: transparent;
}
.av__cell-uncheck > svg {
    color: transparent;
}
.av__cell-check > svg {
    color: transparent;
}
.protyle-wysiwyg .li[data-subtype=t] .protyle-action--task::before, .av__cell-uncheck::before {
    content: "" !important;
    position: absolute;
    left: 6px;
    width: 34px;
    height: 25px;
    background-color: var(--QYL-task-block);
    -webkit-mask-image: url('../img/未勾选.svg');
    -webkit-mask-repeat: no-repeat;
}
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task::before, .av__cell-check::before {
    content: "" !important;
    position: absolute;
    width: 34px;
    height: 25px;
    background-color: var(--QYL-task-block);
    -webkit-mask-image: url('../img/勾选.svg');
    -webkit-mask-repeat: no-repeat;

}
.protyle-task--done>div[data-node-id].p {
    color: var(--QYL-task-done) !important;
}
/* 闪卡标识 */
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    box-shadow: -5px 0 0 0 var(--b3-protyle-inline-mark-background);
}
/* 下划线 */
.b3-typography u, .b3-typography span[data-type~=u], .protyle-wysiwyg u, .protyle-wysiwyg span[data-type~=u] {
    border-bottom: 1.5px solid;
}
/* 代码块 */
[data-theme-mode="light"] {
    --codeblock-background: var(--b3-theme-background);
    --codeblock-brightness: brightness(0.97);
}
[data-theme-mode="dark"] {
    --codeblock-background: var(--b3-theme-background);
    --codeblock-brightness: brightness(1.2);
}
.protyle-linenumber__rows>span::before {
    color: var(--b3-theme-primary);
}
.code-block {
    background-color: var(--codeblock-background) !important;
    filter: var(--codeblock-brightness);
}
.b3-typography .code-block:not(pre):hover .protyle-action__language, .protyle-wysiwyg .code-block:not(pre):hover .protyle-action__language {
    color: var(--b3-theme-primary);
}
/* 超链接按钮样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext)[style*="background-color: var(--b3-font-background13"], .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"] {
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-ref) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=a][style*="background-color: var(--b3-font-background13"] {
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-link) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"] {
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-PDFmark) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-ref) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=a], 
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=a] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-link) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-PDFmark) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext)[style*="background-color: var(--b3-font-background13"],
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"],
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
[data-theme-mode="dark"] .protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
[data-theme-mode="dark"] .protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    --QYL-ref: rgba(165, 91, 203, 0.5);
}
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=a][style*="background-color: var(--b3-font-background13"],
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=a],
[data-theme-mode="dark"] .protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=a] {
    --QYL-link: rgba(66, 106, 226, 0.5);
}
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"], 
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    --QYL-PDFmark: rgba(22, 147, 22, 0.5);
}

/* 投影、镂空改为金箔、荧光 */
[data-theme-mode="light"] {
    --QYL-fluorescence-font: var(--b3-theme-background);
    --QYL-fluorescence-code-fix: var(--b3-theme-primary);
    --QYL-fluorescence-h-fix: var(--b3-theme-on-primary);
}
[data-theme-mode="dark"] {
    --QYL-fluorescence-font: rgb(246, 246, 246);
    --QYL-fluorescence-code-fix: var(--b3-theme-primary);
    --QYL-fluorescence-h-fix: var(--b3-theme-on-primary);
}
.protyle-font__style[data-type="style4"] {
    position: relative;
    color: rgba(255, 0, 0, 0);
    text-shadow: none !important;
    &:hover {
        box-shadow: 0 0 0 1px var(--b3-border-color) inset,0 0 0 3px var(--b3-list-hover);
    }
    &::before {
        content: "荧光";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-shadow: 0px 0px 0.15em var(--b3-theme-primary), 0px 0px 0.25em var(--b3-theme-primary) !important;
        color: var(--QYL-fluorescence-font) !important;
    }
}
span[style*="text-shadow: 1px 1px var(--b3-theme-surface-lighter), 2px 2px var(--b3-theme-surface-lighter), 3px 3px var(--b3-theme-surface-lighter), 4px 4px var(--b3-theme-surface-lighter)"] {
    text-shadow: 0px 0px 0.15em var(--b3-theme-on-background), 0px 0px 0.25em var(--b3-theme-on-background) !important;
    color: var(--QYL-fluorescence-font) !important;
    &[style*="color: var(--b3-font-color1)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color1), 0px 0px 0.25em var(--b3-font-color1) !important;  
    }
    &[style*="color: var(--b3-font-color2)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color2), 0px 0px 0.25em var(--b3-font-color2) !important;  
    }  
    &[style*="color: var(--b3-font-color3)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color3), 0px 0px 0.25em var(--b3-font-color3) !important;  
    } 
    &[style*="color: var(--b3-font-color4)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color4), 0px 0px 0.25em var(--b3-font-color4) !important;  
    }  
    &[style*="color: var(--b3-font-color5)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color5), 0px 0px 0.25em var(--b3-font-color5) !important;  
    }  
    &[style*="color: var(--b3-font-color6)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color6), 0px 0px 0.25em var(--b3-font-color6) !important;  
    }  
    &[style*="color: var(--b3-font-color7)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color7), 0px 0px 0.25em var(--b3-font-color7) !important;  
    }  
    &[style*="color: var(--b3-font-color8)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color8), 0px 0px 0.25em var(--b3-font-color8) !important;  
    }  
    &[style*="color: var(--b3-font-color9)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color9), 0px 0px 0.25em var(--b3-font-color9) !important;  
    }  
    &[style*="color: var(--b3-font-color10)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color10), 0px 0px 0.25em var(--b3-font-color10) !important;  
    }  
    &[style*="color: var(--b3-font-color11)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color11), 0px 0px 0.25em var(--b3-font-color11) !important;  
    }  
    &[style*="color: var(--b3-font-color12)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color12), 0px 0px 0.25em var(--b3-font-color12) !important;  
    }  
    &[style*="color: var(--b3-font-color13)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color13), 0px 0px 0.25em var(--b3-font-color13) !important;  
    }   
    &[style*="color: var(--b3-card-error-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-error-color), 0px 0px 0.25em var(--b3-card-error-color) !important;  
    }   
    &[style*="color: var(--b3-card-warning-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-warning-color), 0px 0px 0.25em var(--b3-card-warning-color) !important;  
    }   
    &[style*="color: var(--b3-card-info-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-info-color), 0px 0px 0.25em var(--b3-card-info-color) !important;  
    }   
    &[style*="color: var(--b3-card-success-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-success-color), 0px 0px 0.25em var(--b3-card-success-color) !important;  
    }   
}
.protyle-wysiwyg :is(.h1, .h2, .h3, .h4, .h5, .h6) > [spellcheck]:not(:empty) span[style*="text-shadow: 1px 1px var(--b3-theme-surface-lighter), 2px 2px var(--b3-theme-surface-lighter), 3px 3px var(--b3-theme-surface-lighter), 4px 4px var(--b3-theme-surface-lighter)"] {
    text-shadow: 0px 0px 0.15em var(--QYL-fluorescence-h-fix), 0px 0px 0.25em var(--QYL-fluorescence-h-fix) !important;
    color: var(--QYL-fluorescence-font) !important;
    &[style*="color: var(--b3-font-color1)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color1), 0px 0px 0.25em var(--b3-font-color1) !important;  
    }
    &[style*="color: var(--b3-font-color2)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color2), 0px 0px 0.25em var(--b3-font-color2) !important;  
    }  
    &[style*="color: var(--b3-font-color3)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color3), 0px 0px 0.25em var(--b3-font-color3) !important;  
    } 
    &[style*="color: var(--b3-font-color4)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color4), 0px 0px 0.25em var(--b3-font-color4) !important;  
    }  
    &[style*="color: var(--b3-font-color5)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color5), 0px 0px 0.25em var(--b3-font-color5) !important;  
    }  
    &[style*="color: var(--b3-font-color6)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color6), 0px 0px 0.25em var(--b3-font-color6) !important;  
    }  
    &[style*="color: var(--b3-font-color7)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color7), 0px 0px 0.25em var(--b3-font-color7) !important;  
    }  
    &[style*="color: var(--b3-font-color8)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color8), 0px 0px 0.25em var(--b3-font-color8) !important;  
    }  
    &[style*="color: var(--b3-font-color9)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color9), 0px 0px 0.25em var(--b3-font-color9) !important;  
    }  
    &[style*="color: var(--b3-font-color10)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color10), 0px 0px 0.25em var(--b3-font-color10) !important;  
    }  
    &[style*="color: var(--b3-font-color11)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color11), 0px 0px 0.25em var(--b3-font-color11) !important;  
    }  
    &[style*="color: var(--b3-font-color12)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color12), 0px 0px 0.25em var(--b3-font-color12) !important;  
    }  
    &[style*="color: var(--b3-font-color13)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color13), 0px 0px 0.25em var(--b3-font-color13) !important;  
    }   
    &[style*="color: var(--b3-card-error-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-error-color), 0px 0px 0.25em var(--b3-card-error-color) !important;  
    }   
    &[style*="color: var(--b3-card-warning-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-warning-color), 0px 0px 0.25em var(--b3-card-warning-color) !important;  
    }   
    &[style*="color: var(--b3-card-info-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-info-color), 0px 0px 0.25em var(--b3-card-info-color) !important;  
    }   
    &[style*="color: var(--b3-card-success-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-success-color), 0px 0px 0.25em var(--b3-card-success-color) !important;  
    } 
}
.protyle-wysiwyg span[data-type~=code][style*="text-shadow: 1px 1px var(--b3-theme-surface-lighter), 2px 2px var(--b3-theme-surface-lighter), 3px 3px var(--b3-theme-surface-lighter), 4px 4px var(--b3-theme-surface-lighter)"] {
    text-shadow: 0px 0px 0.15em var(--QYL-fluorescence-code-fix), 0px 0px 0.25em var(--QYL-fluorescence-code-fix) !important;
    color: var(--QYL-fluorescence-font) !important;
    &[style*="color: var(--b3-font-color1)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color1), 0px 0px 0.25em var(--b3-font-color1) !important;  
    }
    &[style*="color: var(--b3-font-color2)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color2), 0px 0px 0.25em var(--b3-font-color2) !important;  
    }  
    &[style*="color: var(--b3-font-color3)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color3), 0px 0px 0.25em var(--b3-font-color3) !important;  
    } 
    &[style*="color: var(--b3-font-color4)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color4), 0px 0px 0.25em var(--b3-font-color4) !important;  
    }  
    &[style*="color: var(--b3-font-color5)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color5), 0px 0px 0.25em var(--b3-font-color5) !important;  
    }  
    &[style*="color: var(--b3-font-color6)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color6), 0px 0px 0.25em var(--b3-font-color6) !important;  
    }  
    &[style*="color: var(--b3-font-color7)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color7), 0px 0px 0.25em var(--b3-font-color7) !important;  
    }  
    &[style*="color: var(--b3-font-color8)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color8), 0px 0px 0.25em var(--b3-font-color8) !important;  
    }  
    &[style*="color: var(--b3-font-color9)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color9), 0px 0px 0.25em var(--b3-font-color9) !important;  
    }  
    &[style*="color: var(--b3-font-color10)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color10), 0px 0px 0.25em var(--b3-font-color10) !important;  
    }  
    &[style*="color: var(--b3-font-color11)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color11), 0px 0px 0.25em var(--b3-font-color11) !important;  
    }  
    &[style*="color: var(--b3-font-color12)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color12), 0px 0px 0.25em var(--b3-font-color12) !important;  
    }  
    &[style*="color: var(--b3-font-color13)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color13), 0px 0px 0.25em var(--b3-font-color13) !important;  
    }   
    &[style*="color: var(--b3-card-error-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-error-color), 0px 0px 0.25em var(--b3-card-error-color) !important;  
    }   
    &[style*="color: var(--b3-card-warning-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-warning-color), 0px 0px 0.25em var(--b3-card-warning-color) !important;  
    }   
    &[style*="color: var(--b3-card-info-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-info-color), 0px 0px 0.25em var(--b3-card-info-color) !important;  
    }   
    &[style*="color: var(--b3-card-success-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-success-color), 0px 0px 0.25em var(--b3-card-success-color) !important;  
    } 
}

.protyle-font__style[data-type="style2"] {
    position: relative;
    color: rgba(255, 0, 0, 0);
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
    &:hover {
        box-shadow: 0 0 0 1px var(--b3-border-color) inset,0 0 0 3px var(--b3-list-hover);
    }
    &::before {
        content: "金箔";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-weight: bold;
        background-image: url('../img/金箔.png') !important;  
        -webkit-background-clip: text !important; 
        color: transparent !important;
        background-size: contain !important;
        caret-color: gold;
    }
}
span[style*="-webkit-text-stroke: 0.2px var(--b3-theme-on-background); -webkit-text-fill-color: transparent"]:not([data-type~=tag]) {
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
    background-image: url('../img/金箔.png') !important;  
    -webkit-background-clip: text !important; 
    color: transparent !important;
    background-size: contain !important;
    caret-color: gold;
}
.protyle-wysiwyg span[style*="-webkit-text-stroke: 0.2px var(--b3-theme-on-background); -webkit-text-fill-color: transparent"][data-type~=tag] {
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
}
/* 半高背景 */
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background1)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background1) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background2)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background2) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background3)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background3) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background4)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background4) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background5)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background5) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background6)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background6) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background7)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background7) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background8)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background8) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background9)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background9) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background10)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background10) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background11)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background11) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background12)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background12) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background13)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background13) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-error-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-error-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-warning-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-warning-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-info-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-info-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-success-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-success-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}