/* 空块提示blankblock-remind */
.protyle-wysiwyg [data-node-id][custom-blankblock-remind="开启"] > [contenteditable][spellcheck]:empty::before,
.protyle-wysiwyg[custom-blankblock-remind="开启"] [data-node-id] > [contenteditable][spellcheck]:empty::before {
    content:"空空如也" ;
    color:  #cacaca ;
}
.protyle-wysiwyg [data-node-id][custom-blankblock-remind="turn on"] > [contenteditable][spellcheck]:empty::before,
.protyle-wysiwyg[custom-blankblock-remind="turn on"] [data-node-id] > [contenteditable][spellcheck]:empty::before {
    content:"空空如也" ;
    color:  #cacaca ;
}