/* 自定义块属性style */
[custom-style="红色便签"], [custom-style="red note"] {
    background-color: var(--QYL-custom-red-background);
    border-top: 8px solid var(--QYL-custom-red);
    padding: 5px 8px !important;
}
[custom-style="红左边框"], [custom-style="red left border"] {
    background-color: var(--QYL-custom-red-background);
    border-left: 10px solid var(--QYL-custom-red);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="警告"], [custom-style="warning"] {
    background-color: var(--QYL-custom-red-background);
    border: 3px solid var(--QYL-custom-red);
    border-top: 30px solid var(--QYL-custom-red);
    padding: 5px 10px !important;
}
[custom-style="警告"]::before, [custom-style="warning"]::before {
    content: "Warning";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="橙色便签"], [custom-style="orange note"] {
    background-color: var(--QYL-custom-orange-background);
    border-top: 8px solid var(--QYL-custom-orange);
    padding: 5px 8px !important;
}
[custom-style="橙左边框"], [custom-style="orange left border"] {
    background-color: var(--QYL-custom-orange-background);
    border-left: 10px solid var(--QYL-custom-orange);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="灵感"], [custom-style="tip"] {
    background-color: var(--QYL-custom-orange-background);
    border: 3px solid var(--QYL-custom-orange);
    border-top: 30px solid var(--QYL-custom-orange);
    padding: 5px 10px !important;
}
[custom-style="灵感"]::before, [custom-style="tip"]::before {
    content: "Tip";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="黄色便签"], [custom-style="yellow note"] {
    background-color: var(--QYL-custom-yellow-background);
    border-top: 8px solid var(--QYL-custom-yellow);
    padding: 5px 8px !important;
}
[custom-style="黄左边框"], [custom-style="yellow left border"] {
    background-color: var(--QYL-custom-yellow-background);
    border-left: 10px solid var(--QYL-custom-yellow);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="绿色便签"], [custom-style="green note"] {
    background-color: var(--QYL-custom-green-background);
    border-top: 8px solid var(--QYL-custom-green);
    padding: 5px 8px !important;
}
[custom-style="绿左边框"], [custom-style="green left border"] {
    background-color: var(--QYL-custom-green-background);
    border-left: 10px solid var(--QYL-custom-green);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="完成"], [custom-style="done"] {
    background-color: var(--QYL-custom-green-background);
    border: 3px solid var(--QYL-custom-green);
    border-top: 30px solid var(--QYL-custom-green);
    padding: 5px 10px !important;
}
[custom-style="完成"]::before, [custom-style="done"]::before {
    content: "Done";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="青色便签"], [custom-style="cyan note"] {
    background-color: var(--QYL-custom-cyan-background);
    border-top: 8px solid var(--QYL-custom-cyan);
    padding: 5px 8px !important;
}
[custom-style="青左边框"], [custom-style="cyan left border"] {
    background-color: var(--QYL-custom-cyan-background);
    border-left: 10px solid var(--QYL-custom-cyan);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="信息"], [custom-style="info"] {
    background-color: var(--QYL-custom-cyan-background);
    border: 3px solid var(--QYL-custom-cyan);
    border-top: 30px solid var(--QYL-custom-cyan);
    padding: 5px 10px !important;
}
[custom-style="信息"]::before, [custom-style="info"]::before {
    content: "Information";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="蓝色便签"], [custom-style="blue note"] {
    background-color: var(--QYL-custom-blue-background);
    border-top: 8px solid var(--QYL-custom-blue);
    padding: 5px 8px !important;
}
[custom-style="蓝左边框"], [custom-style="blue left border"] {
    background-color: var(--QYL-custom-blue-background);
    border-left: 10px solid var(--QYL-custom-blue);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="待办"], [custom-style="todo"] {
    background-color: var(--QYL-custom-blue-background);
    border: 3px solid var(--QYL-custom-blue);
    border-top: 30px solid var(--QYL-custom-blue);
    padding: 5px 10px !important;
}
[custom-style="待办"]::before, [custom-style="todo"]::before {
    content: "Todo";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="紫色便签"], [custom-style="purple note"] {
    background-color: var(--QYL-custom-purple-background);
    border-top: 8px solid var(--QYL-custom-purple);
    padding: 5px 8px !important;
}
[custom-style="紫左边框"], [custom-style="purple left border"] {
    background-color: var(--QYL-custom-purple-background);
    border-left: 10px solid var(--QYL-custom-purple);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="重要"], [custom-style="important"] {
    background-color: var(--QYL-custom-purple-background);
    border: 3px solid var(--QYL-custom-purple);
    border-top: 30px solid var(--QYL-custom-purple);
    padding: 5px 10px !important;
}
[custom-style="重要"]::before, [custom-style="important"]::before {
    content: "Important";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="粉色便签"], [custom-style="pink note"] {
    background-color: var(--QYL-custom-pink-background);
    border-top: 8px solid var(--QYL-custom-pink);
    padding: 5px 8px !important;
}
[custom-style="粉左边框"], [custom-style="pink left border"] {
    background-color: var(--QYL-custom-pink-background);
    border-left: 10px solid var(--QYL-custom-pink);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="黑色便签"], [custom-style="black note"] {
    background-color: var(--QYL-custom-black-background);
    border-top: 8px solid var(--QYL-custom-black);
    padding: 5px 8px !important;
}
[custom-style="黑左边框"], [custom-style="black left border"] {
    background-color: var(--QYL-custom-black-background);
    border-left: 10px solid var(--QYL-custom-black);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="批注"], [custom-style="comment"] {
    background-color: var(--QYL-custom-black-background);
    border: 3px solid var(--QYL-custom-black);
    border-top: 30px solid var(--QYL-custom-black);
    padding: 5px 10px !important;
}
[custom-style="批注"]::before, [custom-style="comment"]::before {
    content: "Comment";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="灰色便签"], [custom-style="gray note"] {
    background-color: var(--QYL-custom-gray-background);
    border-top: 8px solid var(--QYL-custom-gray);
    padding: 5px 8px !important;
}
[custom-style="灰左边框"], [custom-style="gray left border"] {
    background-color: var(--QYL-custom-gray-background);
    border-left: 10px solid var(--QYL-custom-gray);
    border-radius: 0px !important;
    padding: 5px 8px !important;
}
[custom-style="引用"], [custom-style="quote"] {
    background-color: var(--QYL-custom-gray-background);
    border: 3px solid var(--QYL-custom-gray);
    border-top: 30px solid var(--QYL-custom-gray);
    padding: 5px 10px !important;
}
[custom-style="引用"]::before, [custom-style="quote"]::before {
    content: "Quote";
    position: absolute;
    top: -27px;
    left: 10px;
    color: var(--QYL-white);
    font-size: 16px;
    font-weight: bold;
}
[custom-style="洒金纸"], [custom-style="sajin paper"] {
    background-image: url("../img/洒金纸.png");
}
[custom-style="网格"], [custom-style="grid"] {
    background-image: linear-gradient(90deg,var(--b3-theme-primary-lightest) 3%,transparent 0),linear-gradient(1turn,var(--b3-theme-primary-lightest) 3%,transparent 0);
    background-size: 30px 30px;
    background-position: 50%;
}