/* 自定义属性table-style */
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table th, :is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table td, :is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table tr:nth-child(even) td {
    border: none;
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table th {
    border-top: 1px solid var(--b3-theme-on-background);
    border-bottom: 1px solid var(--b3-theme-on-background);
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table tr:last-child {
    border-bottom: 1px solid var(--b3-theme-on-background);
}