/* 自定义属性img-border */
.protyle-wysiwyg[custom-img-border="圆角"] img, .protyle-wysiwyg [custom-img-border="圆角"] img {
    border-radius: 12px;
}
.protyle-wysiwyg[custom-img-border="圆形"] img, .protyle-wysiwyg [custom-img-border="圆形"] img {
    border-radius: 50%;
}
/* 自定义属性img-shadow */
.protyle-wysiwyg[custom-img-shadow="立体"] img, .protyle-wysiwyg [custom-img-shadow="立体"] img {
    box-shadow: var(--b3-theme-primary-lightest) 0px 1px 1px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
}
/* 自定义属性img-invert */
.protyle-wysiwyg[custom-img-invert="反色"] img, .protyle-wysiwyg [custom-img-invert="反色"] img {
    filter: invert(100%);
    transition: filter 0.3s ease;
}