.protyle-wysiwyg[custom-fullwidth="启用"] {
    padding-left: 20px !important;
	padding-right: 20px !important;
}
.protyle-top:has( + .protyle-wysiwyg[custom-fullwidth="启用"]) {
    & .protyle-title {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	& .protyle-background__ia {
		margin-left: 20px !important;
	}
}