/* 设置页面 */
div[data-key="dialog-setting"] {
    border: none;
}
div[data-key="dialog-setting"] .config__tab-wrap {
    height: calc(100% - 40px);
    margin: 20px 20px 0px 10px;
    border-radius: var(--b3-border-radius);
}
div[data-key="dialog-setting"] .b3-tab-bar {
    width: 150px;
}
[data-key="dialog-setting"] .config__tab-wrap .b3-label :where(.fn__flex-1,.fn__block,.fn__flex-center):not(.ft__on-surface,.b3-button,.b3-form__icon,.fn__size200,ul,input):first-child,& :where(.b3-label,.config__ite)::first-line{
    font-weight: bold;
    color: var(--b3-theme-primary);
}
[data-key="dialog-setting"] .config__tab-wrap .config-query .fn__flex-1, & .b3-label__text, & .b3-label :where(a,code,.ft__on-surface):not(.b3-button--outline) {
    font-weight: normal !important;
    color: var(--b3-theme-on-surface) !important;
}
/* 账户界面 */
[data-name="account"].config__tab-container.config__tab-container--full {
    margin: 50px 20px 50px 20px  !important;
}
[data-name="account"] .config-account__center:not(.config-account__center--text) {
    border-radius: var(--b3-border-radius);
    background-image: var(--QYL-account-background1);
    margin-right: 20px;
}
[data-name="account"] .config-account__center.config-account__center--text {
    border-radius: var(--b3-border-radius);
    background-image: var(--QYL-account-background2);
}
[data-name="account"] .config-account__center .b3-text-field.fn__block.b3-form__icon-input {
    padding: 7px 10px;
}
[data-name="account"] .config-account__center.config-account__center--text .b3-form__icon-icon {
    top: 8px;
}
[data-name="account"] .config-account__center.config-account__center--text .b3-button.b3-button--text  {
    top: 4.5px !important;
    right: 3px !important;
}
.config__panel>.b3-tab-bar .config__tab-hr {
    background: rgba(255, 0, 0, 0);
}
/* 集市 */
.config-bazaar__panel .b3-card {
    box-shadow: var(--b3-light-shadow);
}
.config-bazaar__panel .b3-card {
    background-color: rgba(255, 0, 0, 0);
}
.config-bazaar__panel .b3-card:hover {
    background-color: var(--QYL-hover);
}
@media screen and (min-width: 1230px) {
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card {
        display: grid;
        grid-template-areas: "img info" "img buttons";
        grid-template-columns: 90px 1fr;
        margin: 16px 16px 8px 8px;
    }
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions {
        grid-area: buttons;
        padding: 0 16px 14px;
        align-self: flex-end
    }
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions>[data-type=setting],.config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions>[data-type=setting].fn__none~[data-type=uninstall],.config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions>[data-type=open]:first-child {
        margin-left: auto
    }
}
@media screen and (min-width: 950px) and (max-width: 1230px) {
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card {
        display: grid;
        grid-template-areas: "img info" "img buttons";
        grid-template-columns: 90px 1fr;
        margin: 16px 16px 8px 8px;
    }
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions {
        grid-area: buttons;
        padding: 0 16px 14px;
        align-self: flex-end
    }
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions>[data-type=setting],.config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions>[data-type=setting].fn__none~[data-type=uninstall],.config-bazaar__panel[data-type=downloaded] .config-bazaar__content .b3-card>.b3-card__actions>[data-type=open]:first-child {
        margin-left: auto
    }
}
#configBazaarDownloaded .b3-list--empty {
    margin-top: 20px;
}
/* 修复集市毛玻璃 */
div[data-key="dialog-setting"] [data-name="bazaar"] .layout-tab-bar {
    background-color: rgba(255, 0, 0, 0);
}
/* 修复AI毛玻璃 */
div[data-key="dialog-setting"] [data-name="AI"] .layout-tab-bar {
    background-color: rgba(255, 0, 0, 0);
}
/* 修复代码片段毛玻璃 */
[data-key="dialog-snippets"] .layout-tab-bar {
    background-color: rgba(255, 0, 0, 0);
}
/* 修复资源毛玻璃 */
div[data-key="dialog-setting"] [data-name="image"] .layout-tab-bar {
    background-color: rgba(255, 0, 0, 0);
}
/* 修复数据历史毛玻璃 */
[data-key="dialog-history"] .layout-tab-bar {
    background-color: rgba(255, 0, 0, 0);
}
/* 同步 */
[data-key="dialog-syncchoosedirection"] .b3-dialog__container .b3-dialog__body .b3-dialog__content .b3-label > div {
    font-weight: bold;
    color: var(--b3-theme-primary);
}