/* 按钮 */
.card__icon {
    display: none;
}
.card__action .b3-button {
    line-height: 30px;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="1"] {
    background-color: var(--QYL-flashcard-type1-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="2"] {
    background-color: var(--QYL-flashcard-type2-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="3"] {
    background-color: var(--QYL-flashcard-type3-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="4"] {
    background-color: var(--QYL-flashcard-type4-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action > div:has(.b3-button[data-type="1"]) > span {
    color: var(--QYL-flashcard-type1-background);
    font-size: 13px;
}
div[data-key="dialog-opencard"] .card__action > div:has(.b3-button[data-type="2"]) > span {
    color: var(--QYL-flashcard-type2-background);
    font-size: 13px;
}
div[data-key="dialog-opencard"] .card__action > div:has(.b3-button[data-type="3"]) > span {
    color: var(--QYL-flashcard-type3-background);
    font-size: 13px;
}
div[data-key="dialog-opencard"] .card__action > div:has(.b3-button[data-type="4"]) > span {
    color: var(--QYL-flashcard-type4-background);
    font-size: 13px;
}
/* 界面 */
#cardPreview {
    margin: 0 10px 10px 0;
    border-radius: var(--b3-border-radius);
}
[data-key="dialog-opencard"] .card__block {
    margin: 0 10px 0px 10px;
    border-radius: var(--b3-border-radius);
}

/* 兼容番茄工具箱 */
#layouts .card__main {
    padding-bottom: 35px;
    background-color: var(--b3-theme-background);
}
#layouts [data-key="dialog-opencard"] .card__block {
    margin: 0;
}