:root {
    --QYL-hover: rgba(212, 221, 233, 0.8); /* 主要悬停色 */
    --QYL-hover-hover: rgba(212, 221, 233, 0.95);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(212, 221, 233, 0.25);/* 主要悬停色变浅 */
    --b3-theme-primary: #6175de !important; 
    --b3-theme-primary-light: rgba(97, 118, 145, 0.55); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(97, 118, 145, 0.32); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(97, 118, 145, 0.15); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #edf1f5;
    --b3-theme-surface-light: rgba(237, 241, 245, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: rgba(219, 226, 234, 0.62);
    --b3-theme-background: #f5f7fa;
    --b3-theme-background-light:#dfe0e3; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #f3f6f8; /* 失焦颜色 */
    --b3-scroll-color: #e6ecf4; /* 滚动条颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-surface-light);/* 文档树箭头颜色 */
    --QYL-white: #f5f7fa;
    --QYL-black: #11253e;
    --QYL-gray: #617691;
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;

    /* 文字颜色 */
    --b3-theme-on-primary: #f5f7fa;
    --b3-theme-on-secondary: #f5f7fa;
    --b3-theme-on-background: #11253e;
    --b3-theme-on-surface: #617691;
    --b3-theme-on-surface-light: #617691;
    --b3-theme-on-error: #f5f7fa;

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: #7d8186;
    --QYL-blockquote-background: #eaedf2;
    --QYL-blockquote-svg: #c9ced4;
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: #d4dadf;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: #617691;
}
:root {
    --QYL-filter-background-theme: rgba(245, 247, 250, 0.7);
    --QYL-filter-wrap-background-theme: rgba(245, 247, 250, 0.7);
    --QYL-filter-fix-background-theme: rgba(245, 247, 250, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #edf1f5, #eff2f6, #f1f4f8, #f3f5f9, #f5f7fa);
    --QYL-account-background2: linear-gradient(to right bottom, #edf1f5, #eff2f6, #f1f4f8, #f3f5f9, #f5f7fa);
}
:root {
    --QYL-flat-primary: rgb(112, 98, 219);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #6975ae;
}

/* 细节调整 */
:root {
    --QYL-fog-primary-fix: rgb(91, 129, 254);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action::after {
    background-color: rgba(97, 118, 222, 0.25);
}
.protyle-gutters button:hover svg {
    color: var(--QYL-fog-primary-fix); 
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    background-color: rgba(97, 118, 222, 0.15);
}
.protyle-wysiwyg [data-node-id].li:hover::before {
    border-left: 1.5px solid var(--QYL-fog-primary-fix);
}
.protyle-wysiwyg [data-node-id].li:hover>.protyle-action {
    color: var(--QYL-fog-primary-fix);
}
.b3-list-item:hover.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    background-color: var(--QYL-fog-primary-fix);
}
.file-tree .b3-list-item .b3-list-item__toggle:hover .b3-list-item__arrow {
    color: var(--QYL-fog-primary-fix);
}