:root {
--filetree-line-1: rgb(106, 156, 218);
--filetree-line-2: rgb(239, 205, 151);
--filetree-line-3: rgb(240, 198, 198);
--filetree-line-4: rgb(154, 235, 162);
--filetree-line-5: rgb(208, 139, 235);
--filetree-line-6: rgb(139, 235, 219);
--filetree-line-7: rgb(235, 139, 230);
--filetree-line-8: rgb(180, 131, 110);
}
:root {
    --colorful-file-1: #3575f0 !important;
    --colorful-file-background-1: rgb(184, 209, 255);
    --colorful-file-2: var(--b3-theme-secondary) !important;
    --colorful-file-background-2: rgb(255, 224, 174);
    --colorful-file-3: var(--b3-theme-error) !important;
    --colorful-file-background-3: rgb(255, 187, 180);
    --colorful-file-4: var(--b3-theme-success) !important;
    --colorful-file-background-4: rgb(192, 234, 181);
    --colorful-file-5: #9c4db8 !important;
    --colorful-file-background-5: rgb(239, 195, 255);
    --colorful-file-6: #00dacf !important;
    --colorful-file-background-6: rgb(170, 235, 232);
    --colorful-file-7: rgb(230, 0, 123) !important;
    --colorful-file-background-7: rgb(255, 186, 223);
    --colorful-file-8: rgb(177, 80, 0) !important;
    --colorful-file-background-8: rgb(230, 184, 147);
}
.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background { margin-left: 20px; }
[data-type="navigation-root"]::before {
    content: "";
    width: 12px;
    height: 28px;
    position: absolute;
    left: -20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-1) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+1) {
    border-left: 3px solid var(--colorful-file-1);
}
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"] {
    background-color:var(--colorful-file-background-1) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-1) !important;
    }
}
.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-2) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+2) {
    border-left: 3px solid var(--colorful-file-2);
}
.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-2) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:rgb(240, 135, 44) !important;
    }
}
.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-3) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+3) {
    border-left: 3px solid var(--colorful-file-3);
}
.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-3) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-3) !important; 
    }
}
.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-4) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+4) {
    border-left: 3px solid var(--colorful-file-4);
}
.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-4) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-4) !important;
    }
}
.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-5) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+5) {
    border-left: 3px solid var(--colorful-file-5);
}
.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-5) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-5) !important;
    }
}
.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-6) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+6) {
    border-left: 3px solid var(--colorful-file-6);
}
.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-6) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-6) !important;
    }
}
.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-7) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+7) {
    border-left: 3px solid var(--colorful-file-7);
}
.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-7) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-7) !important;
    }
}
.b3-list:nth-of-type(8n)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-8) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n) {
    border-left: 3px solid var(--colorful-file-8);
}
.b3-list:nth-of-type(8n)>[data-type="navigation-root"] {
    background-color:var(--colorful-file-background-8) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-8) !important;
    }
}

/* 手机端多彩文档树 */
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 .b3-list .b3-list-item { margin-top: 0; margin-bottom: 0;}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 .b3-list.b3-list--background { margin-left: 20px; }
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul > li[data-type="navigation-root"]::before {
    content: "";
    width: 14px;
    height: 40px;
    position: absolute;
    left: -22px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+1) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-1) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+1) {
    border-left: 3px solid var(--colorful-file-1);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+2) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-2) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+2) {
    border-left: 3px solid var(--colorful-file-2);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+3) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-3) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+3) {
    border-left: 3px solid var(--colorful-file-3);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+4) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-4) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+4) {
    border-left: 3px solid var(--colorful-file-4);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+5) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-5) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+5) {
    border-left: 3px solid var(--colorful-file-5);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+6) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-6) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+6) {
    border-left: 3px solid var(--colorful-file-6);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+7) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-7) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+7) {
    border-left: 3px solid var(--colorful-file-7);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-8) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n) {
    border-left: 3px solid var(--colorful-file-8);
}