:root {
    --QYL-hover: rgba(147, 195, 244, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(147, 195, 244, 0.4);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(147, 195, 244, 0.1);/* 主要悬停色变浅 */
    --b3-theme-primary: rgb(115, 171, 224) !important; 
    --b3-theme-primary-light: rgba(115, 171, 224, 0.6); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(115, 171, 224, 0.4); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(115, 171, 224, 0.2); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: rgb(204, 224, 243);
    --b3-theme-surface-light: rgba(204, 224, 243, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: rgb(187 209 230);
    --b3-theme-background: #e2f0ff;
    --b3-theme-background-light:rgb(198, 223, 249); /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #edf6ff; /* 失焦颜色 */
    --b3-scroll-color: rgb(195, 214, 245); /* 滚动条颜色 */
    --QYL-white: #fff; /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: rgb(66, 100, 123);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #afcff3;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: rgb(50, 126, 198);

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: rgb(92, 146, 207);
    --QYL-blockquote-background: rgb(207, 233, 255);
    --QYL-blockquote-svg: rgb(174, 213, 247);
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: rgb(177, 198, 220);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: rgb(58, 114, 160);
}
:root {
    --QYL-filter-background-theme: rgba(255, 255, 255, 0.7);
    --QYL-filter-wrap-background-theme: rgba(255, 255, 255, 0.7);
    --QYL-filter-fix-background-theme: rgba(255, 255, 255, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #cce0f3, #d2e4f6, #d7e8f9, #ddecfc, #e2f0ff);
    --QYL-account-background2: linear-gradient(to right bottom, #cce0f3, #d2e4f6, #d7e8f9, #ddecfc, #e2f0ff);
}
:root {
    --QYL-flat-primary: rgb(67, 203, 101);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: rgb(119 159 197);
}