:root {
    --QYL-hover: rgba(175, 207, 209, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(175, 207, 209, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(175, 207, 209, 0.3);/* 主要悬停色变浅 */
    --b3-theme-primary: #71a4a7 !important; 
    --b3-theme-primary-light: rgba(113, 164, 167, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(113, 164, 167, 0.32); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(113, 164, 167, 0.13); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #e8eeec;
    --b3-theme-surface-light: rgba(232, 238, 236, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #d5e0dc;
    --b3-theme-background: #fffcf3;
    --b3-theme-background-light:#ece8db; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #f2f8f6; /* 失焦颜色 */
    --b3-scroll-color:  #d7e8e2; /* 滚动条颜色 */
    --QYL-white: #fff; /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: #728e84;/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #a3beb5;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: #189ea5;

    /* 文字颜色 */
    --b3-theme-on-primary: #e9e8eb;
    --b3-theme-on-secondary: #e9e8eb;
    --b3-theme-on-background: #413e35;
    --b3-theme-on-surface: #5b5749;
    --b3-theme-on-surface-light: #5b5749;
    --b3-theme-on-error: #e9e8eb;

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: rgb(145, 141, 135);
    --QYL-blockquote-background: rgb(245, 241, 234);
    --QYL-blockquote-svg: rgb(221, 217, 210);
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: #c0d2d2;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover:#448284;
}
:root {
    --QYL-filter-background-theme: rgba(245, 255, 251, 0.7);
    --QYL-filter-wrap-background-theme:rgba(245, 255, 251, 0.7);
    --QYL-filter-fix-background-theme: rgba(245, 255, 251, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #e8eeec, #edf2ee, #f2f6f1, #f8faf3, #fffdf6);
    --QYL-account-background2: linear-gradient(to right bottom, #e8eeec, #edf2ee, #f2f6f1, #f8faf3, #fffdf6);
}
:root {
    --QYL-flat-primary: rgb(46, 151, 102);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #669597;
}


/* 细节调整 */
:root {
    --QYL-lakeside-tag-1: rgba(175, 207, 209, 0.1);
    --QYL-lakeside-tag-2: #e8eeec;
}
.layout__center :not(.av__views) > .layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
    background-color: var(--QYL-lakeside-tag-1);
}
.layout__center :not(.av__views) > .layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus):hover {
    background-color: var(--QYL-lakeside-tag-2);
}
.layout__center :not(.av__views) > .layout-tab-bar .item.item--focus {
    background-color: var(--QYL-lakeside-tag-2);
}
.layout__center :not(.av__views) > .layout-tab-bar .item.item--focus:hover {
    background-color: var(--QYL-lakeside-tag-2);
}