:root {
    --QYL-hover: rgba(255, 182, 211, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(255, 182, 211, 0.6);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(255, 182, 211, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: rgb(244, 139, 181) !important; 
    --b3-theme-primary-light: rgba(244, 139, 181, 0.6); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(244, 139, 181, 0.4); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(244, 139, 181, 0.15); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: rgb(250, 227, 235);
    --b3-theme-surface-light: rgba(250, 227, 235, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: rgb(245, 212, 223);
    --b3-theme-background: #fff3f9;
    --b3-theme-background-light:rgb(248, 210, 229); /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: rgb(255, 244, 250); /* 失焦颜色 */
    --b3-scroll-color: rgb(244, 210, 223); /* 滚动条颜色 */
    --b3-toolbar-color: rgb(145, 85, 113);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #eac0d5;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: rgb(213, 41, 110);

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: rgb(228, 154, 184);
    --QYL-blockquote-background: rgb(255, 230, 242);
    --QYL-blockquote-svg: rgb(248, 197, 221);
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: rgb(241, 205, 215);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: rgb(214, 103, 145);
}
:root {
    --QYL-filter-background-theme: rgb(255, 247, 250, 0.7);
    --QYL-filter-wrap-background-theme: rgb(255, 247, 250, 0.7);
    --QYL-filter-fix-background-theme: rgb(255, 247, 250, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #fae3eb, #fbe7ef, #fcebf2, #feeff6, #fff3f9);
    --QYL-account-background2: linear-gradient(to right bottom, #fae3eb, #fbe7ef, #fcebf2, #feeff6, #fff3f9);
}
:root {
    --QYL-flat-primary: rgb(230, 100, 0);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: rgb(215 127 163);
}