:root {
    --QYL-hover: rgba(224, 186, 255, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(224, 186, 255, 0.6);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(224, 186, 255, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: rgb(211, 148, 236) !important; 
    --b3-theme-primary-light: rgba(211, 148, 236, 0.56); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(211, 148, 236, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(211, 148, 236, 0.12); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: rgb(239, 228, 255);
    --b3-theme-surface-light: rgba(239, 228, 255, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: rgba(219, 203, 245, 0.5);
    --b3-theme-background: #faf3ff;
    --b3-theme-background-light:rgb(229, 207, 245); /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: rgb(245, 239, 255); /* 失焦颜色 */
    --b3-scroll-color: rgb(230, 210, 244); /* 滚动条颜色 */
    --b3-toolbar-color: rgb(121, 85, 142);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #d8bfe8;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: rgb(186, 61, 236);


    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: rgb(193, 149, 221);
    --QYL-blockquote-background: rgb(245, 230, 255);
    --QYL-blockquote-svg: rgb(231, 209, 245);
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: rgb(222, 201, 237);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: rgb(139, 75, 192);
}
:root {
    --QYL-filter-background-theme: rgb(248, 244, 255, 0.7);
    --QYL-filter-wrap-background-theme: rgb(248, 244, 255, 0.7);
    --QYL-filter-fix-background-theme: rgb(248, 244, 255, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #efe4ff, #f2e8ff, #f5ebff, #f8efff, #faf3ff);
    --QYL-account-background2: linear-gradient(to right bottom, #efe4ff, #f2e8ff, #f5ebff, #f8efff, #faf3ff);
}
:root {
    --QYL-flat-primary: rgb(40, 129, 230);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: rgb(168 113 189);
}