:root {
    --QYL-hover: rgba(66, 77, 105, 0.4);/* 主要悬停色 */
    --QYL-hover-hover: rgba(66, 77, 105, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(66, 77, 105, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #414d70 !important; 
    --b3-theme-primary-light: rgba(182, 193, 222, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(182, 193, 222, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(182, 193, 222, 0.12); /* 主色0.1透明度 */
    --b3-theme-surface: rgb(30, 34, 39);
    --b3-theme-surface-light: rgba(30, 34, 39, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: rgb(52, 59, 68);
    --b3-theme-background: rgb(40, 44, 52);
    --b3-theme-background-light:rgb(72, 77, 88); /* 编辑器较多变浅（不透明） */
    --b3-toolbar-blur-background: rgb(74, 81, 90); /* 失焦颜色 */
    --b3-scroll-color:  rgb(61, 68, 78); /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-on-background); /* 通用白 */
    --QYL-black: var(--b3-theme-background); /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: var(--b3-theme-on-surface);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-surface);/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #0d823e;
    --b3-theme-secondary: #c79e3f;
    --QYL-accent-color: var(--QYL-flat-primary);  
    --QYL-border-file: rgb(81, 89, 100);

    /* 文字颜色 */
    --b3-theme-on-primary: #c1cad6;
    --b3-theme-on-secondary: #c1cad6;
    --b3-theme-on-background: #cfd7e7;
    --b3-theme-on-surface: #c1cad6;
    --b3-theme-on-surface-light: #c1cad6;
    --b3-theme-on-error: #c1cad6;

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lightest) 0px 1px 1px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
}
:root {
    --QYL-blockquote: rgb(159, 164, 176);
    --QYL-blockquote-background: rgb(66, 71, 82);
    --QYL-blockquote-svg: rgb(89, 95, 108);
}
:root {
    --QYL-switch-close: var(--QYL-gray);
    --QYL-switch-close-background: rgb(100, 105, 110);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover:rgb(from var(--QYL-flat-second) r g b / 60%);
}
:root {
    --QYL-filter-background-theme: rgba(39, 39, 40, 0.7);
    --QYL-filter-wrap-background-theme: rgba(33, 33, 33, 0.7);
    --QYL-filter-fix-background-theme: rgba(39, 39, 40, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #1e2227, #20242a, #23272d, #252931, #282c34);
    --QYL-account-background2: linear-gradient(to right bottom, #1e2227, #20242a, #23272d, #252931, #282c34);
}
:root {
    --QYL-flat-primary: #6c4be3;
    --QYL-flat-second: #5781eb;
}
:root {
    --QYL-immerse-toolbar: #2c2f38;
}

/* 细节调整 */
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    background-color: rgb(72 108 203 / 12%);
    color: #929fc3;
}
.av__celltext--ref {
    color: rgb(84 124 173);
}