:root {
    /* 主色 */
    --b3-theme-background: #201d1d;
    --b3-theme-background-light:rgb(71, 64, 64); /* 编辑器较多变浅（不透明） */
    --b3-theme-surface: #2c2525;
    --b3-theme-surface-light: rgba(41, 42, 45, 0.86);
    --b3-theme-surface-lighter: rgba(110, 91, 91, 0.5); /* 线条色 */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #b5b5b5;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-surface-light: #bababa;
    --b3-theme-on-error: #fff;

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-hover: rgba(138, 63, 63, 0.6); /* 主要悬停色 */
    --QYL-hover-hover: rgba(138, 63, 63, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(138, 63, 63, 0.1);/* 主要悬停色变浅 */
    --b3-theme-primary: #a34c4c !important; 
    --b3-theme-primary-light: rgba(163, 76, 76, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(163, 76, 76, 0.35); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(163, 76, 76, 0.12); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgba(81, 150, 92, 0.8);/* 标记色 */
    --b3-protyle-inline-mark-color: #dadada; /* 标记文字色 */
    --b3-scroll-color: rgb(57, 41, 41); /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-on-background); /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-blur-background: #302b2b; /* 失焦颜色 */
}
:root {
    --QYL-blockquote: rgb(168, 145, 145);
    --QYL-blockquote-background: rgb(58, 47, 47);
    --QYL-blockquote-svg: rgb(114, 95, 95);
}
:root {
    --QYL-switch-close: var(--QYL-gray);
    --QYL-switch-close-background: rgb(93, 82, 82);
    --QYL-input-border: rgb(108, 79, 79);
    --QYL-input-border-hover: var(--b3-theme-primary);
    --b3-switch-checked-background: var(--b3-theme-primary);
    --b3-switch-checked: var(--QYL-gray);
}
:root {
    --QYL-filter-background-theme: rgba(27, 24, 24, 0.7);
    --QYL-filter-wrap-background-theme: rgba(27, 24, 24, 0.7);
    --QYL-filter-fix-background-theme: rgba(27, 24, 24, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #2c2525, #292323, #262121, #231f1f, #201d1d);
    --QYL-account-background2: linear-gradient(to right bottom, #2c2525, #292323, #262121, #231f1f, #201d1d);
}
:root {
    --QYL-flat-primary: #19599e;
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: rgb(106, 58, 58);
}