:root {
    /* 主色 */
    --b3-theme-background: #41344f;
    --b3-theme-background-light:#675679; /* 编辑器较多变浅（不透明） */
    --b3-theme-surface: #534362;
    --b3-theme-surface-light: rgba(83, 67, 98, 0.86);
    --b3-theme-surface-lighter: rgba(91, 82, 100, 0.6); /* 线条色 */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #d1d1d1;
    --b3-theme-on-surface: #d1d1d1;
    --b3-theme-on-surface-light: #d1d1d1;
    --b3-theme-on-error: #fff;

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-hover: rgba(119, 100, 132, 0.7); /* 主要悬停色 */
    --QYL-hover-hover: rgba(119, 100, 132, 0.8);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(119, 100, 132, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #7c6c92 !important; 
    --b3-theme-primary-light: rgba(128, 99, 168, 0.56); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(128, 99, 168, 0.35); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(128, 99, 168, 0.1); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgba(81, 150, 92, 0.8);/* 标记色 */
    --b3-protyle-inline-mark-color: #dadada; /* 标记文字色 */
    --b3-border-color: var(--b3-theme-surface-lighter); /* 线条色 */
    --b3-scroll-color: rgb(100, 80, 106); /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-on-background); /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-blur-background: #5f536b; /* 失焦颜色 */
    --QYL-accent-color: #6c499c;
}
:root {
    --QYL-blockquote: #a592ba;
    --QYL-blockquote-background: #58466b;
    --QYL-blockquote-svg: #76618c;
}
:root {
    --QYL-switch-close: var(--QYL-gray);
    --QYL-switch-close-background: rgb(106, 97, 114);
    --QYL-input-border: rgb(106, 97, 114);
    --QYL-input-border-hover: var(--b3-theme-primary);
    --b3-switch-checked-background: var(--b3-theme-primary);
    --b3-switch-checked: var(--QYL-gray);
}
:root {
    --QYL-filter-background-theme: rgba(41, 40, 43, 0.7);
    --QYL-filter-wrap-background-theme: rgba(67, 59, 80, 0.7);
    --QYL-filter-fix-background-theme: rgba(41, 40, 43, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #534362, #4e3f5d, #4a3b58, #453854, #41344f);
    --QYL-account-background2: linear-gradient(to right bottom, #534362, #4e3f5d, #4a3b58, #453854, #41344f);
}
:root {
    --QYL-flat-primary: #bd5b4c;
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #3c314a;
}